.footer {
  background: #F5F5F5;
  color: #0074BA;
  font-family: "Poppins", sans-serif;
}

.footer-top-line {
  height: 6px;
  background: #0074BA;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.footer-section h4 {
  color: #0074BA;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.7;
  margin: 5px 0;
}

.footer-logo {
  width: 140px;
  margin-bottom: 20px;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  border: 2px solid #0074BA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0074BA;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #0057A4;
  color: white;
}

/* Store Buttons */
.store-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.store-buttons img {
  height: 40px;
  cursor: pointer;
}

/* Link */
.footer-link {
  color: #0074BA;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 20px;
  font-size: 13px;
  background: #F5F5F5;
}

/* Responsive */
@media (max-width: 992px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}